body{
    background: linear-gradient(0deg, rgba(254,255,0,1) 0%, rgba(255,222,0,1) 22%, rgba(255,59,0,1) 100%);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 

main {
    aspect-ratio: 1123/749;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    max-width:90vw;
    max-height: 90vh;
    background-image: url(./files/images/pokedex.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.cardBoard{
    padding: 20px;
    gap: 15px;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    aspect-ratio: 1123/749;
    transform: translate(10%,5%);
    height: 65%;
    max-height: 90vh;

    box-shadow: 0px 0px 10px #000;
}

.card { 
    position: relative;
    margin: 0;
    justify-self: center;
    aspect-ratio: 1/1;
    height: 100%;
    background-color: red;
    border: 1px solid;
    transition: all 500ms ease;
    transform-style: preserve-3d;
    box-shadow: 0px 0px 10px #000;
}

.card:active {
transform: rotateY(180deg);
}

.side {
    width: 100%;
    height: 100%;
    position: absolute;
}
.frontCard {
    background: white;
}

.backCard {
    background-color: blue;
    backface-visibility: hidden;
}